.settings-main {
  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.5px;
    font-feature-settings: 'cv03' on, 'cv04' on, 'cv09' on;
  }
  .form-section {
    border-color: #4F52FF;
    border-radius: 8px;
    h4 {
      color: #404040;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.5px;
      font-feature-settings: 'cv03' on, 'cv04' on, 'cv09' on;
    }
  }
  .settings-button {
    color: #fff;
    height: 48px;
    min-width: 48px;
    background-color: #4F52FF;
    width: 100%;
    border-radius: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.12px;
    font-feature-settings: 'cv03' on, 'cv04' on, 'cv09' on;
    &:disabled {
      background-color: rgba(128,128,128,0.16);
      p {
        color: rgba(128,128,128,0.5) !important;
      }
    }
  }
}
